<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="tapster">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/bootstrap/less/bootstrap.css" rel="stylesheet" />
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/restangular/dist/restangular.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/drinks/list.js"></script>
</head>
<body>

    <div ng-view></div>
</body>
</html>